@model List<Project_1___Bakkerij.Models.UserModel>

@{
    ViewData["Title"] = "Gebruikers goedkeuren";
}

<h1>Gebruikers goedkeuren</h1>

<table class="table">
    <thead>
        <tr>
            <th>Gebruikersnaam</th>
            <th>Email</th>
            <th>Actie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <form asp-action="ApproveUser" method="post">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-primary">Goedkeuren</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>
