@model List<IndividualOrderViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Gebruikers-ID</th>
            <th>Totaalprijs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.UserId</td>
                    <td>@item.TotalPrice</td>
                </tr>
        }
    </tbody>
</table>
