@model List<OrderSummaryViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Productnaam</th>
            <th>Aantal</th>
            <th>Totaalprijs</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.TotalPrice</td>
                </tr>
        }
    </tbody>
</table>
