@{
    ViewData["Title"] = "Menu";
}

<div class="container">
    <h1>Ons Menu</h1>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/ham_en_kaas.jpg" class="card-img-top" alt="Ham en Kaas">
                <div class="card-body">
                    <h5 class="card-title">Ham en Kaas</h5>
                    <p class="card-text">Een heerlijk broodje met ham en kaas.</p>
                    <a href="/Order/PlaceOrder" class="btn btn-primary" role="button">Bestel nu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/tonijn.jpg" class="card-img-top" alt="Tonijn">
                <div class="card-body">
                    <h5 class="card-title">Tonijn</h5>
                    <p class="card-text">Een smaakvol broodje met tonijn.</p>
                    <a href="/Order/PlaceOrder" class="btn btn-primary" role="button">Bestel nu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/kipfilet.jpg" class="card-img-top" alt="Kipfilet">
                <div class="card-body">
                    <h5 class="card-title">Kipfilet</h5>
                    <p class="card-text">Een verrukkelijk broodje met kipfilet.</p>
                    <a href="/Order/PlaceOrder" class="btn btn-primary" role="button">Bestel nu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/gezond.jpg" class="card-img-top" alt="Gezond">
                <div class="card-body">
                    <h5 class="card-title">Gezond</h5>
                    <p class="card-text">Een gezond en voedzaam broodje met diverse groenten.</p>
                    <a href="/Order/PlaceOrder" class="btn btn-primary" role="button">Bestel nu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/kaas.jpg" class="card-img-top" alt="Kaas">
                <div class="card-body">
                    <h5 class="card-title">Kaas</h5>
                    <p class="card-text">Een smakelijk broodje met kaas.</p>
                    <a href="/Order/PlaceOrder" class="btn btn-primary" role="button">Bestel nu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="~/images/salami.jpg" class="card-img-top" alt="Salami">
                <div class="card-body">
                    <h5 class="card-title">Salami</h5>
                    <p class="card-text">Een heerlijk broodje met salami.</p>
                    <a href="/Order/PlaceOrder" class="btn btn-primary" role="button">Bestel nu</a>
                </div>
            </div>
        </div>
        <!-- Voeg meer kaarten toe voor andere broodjes -->
    </div>
</div>



