@{
    ViewData["Title"] = "Home";
}

<!-- Jumbotron met welkomstboodschap -->
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">Welkom</h1>
    <p class="lead">Geniet van de lekkerste broodjes op de campus van Brugge.</p>
    <hr class="my-4">
  </div>
</div>

<!-- Sectie met dummy-inhoud -->
<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <h2>Onze Broodjes</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a risus euismod, consequat ligula non, condimentum mauris.</p>
      <a class="btn btn-primary btn-lg" href="/Menu" role="button">Bekijk ons menu</a>
    </div>
    <div class="col-md-6 text-center">
      <h2>Contacteer Ons</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a risus euismod, consequat ligula non, condimentum mauris.</p>
      <a class="btn btn-primary btn-lg" href="/Contact" role="button">Contacteer ons</a>
    </div>
  </div>
</div>


